<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>InstallLinkWarningPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.logmein.hamachi.InstallLinkWarningPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>InstallLinkWarningPlugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>InstallerSectionTitle</key>
	<string>Deploy link check</string>
	<key>NSMainNibFile</key>
	<string>InstallLinkWarningPlugin</string>
	<key>NSPrincipalClass</key>
	<string>LiPlugin</string>
</dict>
</plist>
